# Import Modules

In [1]:
import pandas as pd
import seaborn as sns
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
import os
from operator import itemgetter

# Login to Plotly

In [2]:
key = 'qvTrN8RTu8PaTCRvpUAb'
user = 'SpecC'

plotly.tools.set_credentials_file(username=user, api_key=key)

# Load File

In [3]:
# on mini
# End date is Feb 5, 2019
file_path = '/Users/mini/Documents/swd_challenges/feb_19_sub/2018_19_games_data.csv'

# on tiny macbook
#file_path = '/Users/benjaminxiao/Documents/swd_challenges/feb_19_sub/2018_19_games_data.csv'

# Cleanup

In [4]:
df = pd.read_csv(file_path)

In [5]:
df.head(n=5)

,Unnamed: 0,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,0,22018,1610612760,OKC,Oklahoma City Thunder,21800002,2018-10-16,OKC @ GSW,L,240,...,29,45,21,12,6,15,21,100,-8,1
1,1,22018,1610612744,GSW,Golden State Warriors,21800002,2018-10-16,GSW vs. OKC,W,240,...,41,58,28,7,7,21,29,108,8,1
2,2,22018,1610612755,PHI,Philadelphia 76ers,21800001,2018-10-16,PHI @ BOS,L,240,...,41,47,18,8,5,16,20,87,-18,1
3,3,22018,1610612738,BOS,Boston Celtics,21800001,2018-10-16,BOS vs. PHI,W,240,...,43,55,21,7,5,15,20,105,18,1
4,4,22018,1610612759,SAS,San Antonio Spurs,21800010,2018-10-17,SAS vs. MIN,W,240,...,33,52,22,3,4,12,22,112,4,2

In [6]:
df = df.drop(df.columns[0], axis=1) # drop that odd first column

In [7]:
list(df) # check columns

['SEASON_ID',
 'TEAM_ID',
 'TEAM_ABBREVIATION',
 'TEAM_NAME',
 'GAME_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PLUS_MINUS',
 'VIDEO_AVAILABLE']

# Data Exploration

In [8]:
teams = list(df.TEAM_NAME.unique()) # gather list of teams

In [9]:
teams = sorted(teams)
print(teams)

['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', 'Chicago Bulls', 'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers', 'LA Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies', 'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks', 'Oklahoma City Thunder', 'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards']

In [10]:
gsw_df = df[df.TEAM_NAME == 'Golden State Warriors']

In [11]:
gsw_df['PTS'].describe()

# 0 is count
# 1 is mean
# 2 is std
# 3 is min
# 7 is max

count     52.000000
mean     118.692308
std       14.452815
min       86.000000
25%      109.750000
50%      117.000000
75%      128.250000
max      149.000000
Name: PTS, dtype: float64

In [12]:
gsw_df.PTS.std()

14.452814993516052

In [13]:
# store calculated values into a list of dictionaries

team_calc = list()

for team in teams:
    data = dict()
    team_df = df[df['TEAM_NAME'] == team]
    data['team'] = team
    data['std pts'] = team_df.PTS.std()
    data['min pts'] = team_df.PTS.min()
    data['max pts'] = team_df.PTS.max()
    data['diff pts'] = team_df.PTS.max() - team_df.PTS.min()
    data['max 3pm'] = team_df.FG3M.max()
    team_calc.append(data)

In [14]:
team_calc

[{'team': 'Atlanta Hawks',
  'std pts': 11.553968776345233,
  'min pts': 85,
  'max pts': 142,
  'diff pts': 57,
  'max 3pm': 22},
 {'team': 'Boston Celtics',
  'std pts': 10.85409235057068,
  'min pts': 86,
  'max pts': 135,
  'diff pts': 49,
  'max 3pm': 24},
 {'team': 'Brooklyn Nets',
  'std pts': 12.497487963075034,
  'min pts': 87,
  'max pts': 145,
  'diff pts': 58,
  'max 3pm': 20},
 {'team': 'Charlotte Hornets',
  'std pts': 11.83623743809055,
  'min pts': 84,
  'max pts': 135,
  'diff pts': 51,
  'max 3pm': 20},
 {'team': 'Chicago Bulls',
  'std pts': 10.777301040001687,
  'min pts': 77,
  'max pts': 124,
  'diff pts': 47,
  'max 3pm': 16},
 {'team': 'Cleveland Cavaliers',
  'std pts': 11.013745303232335,
  'min pts': 83,
  'max pts': 136,
  'diff pts': 53,
  'max 3pm': 15},
 {'team': 'Dallas Mavericks',
  'std pts': 9.973172914317884,
  'min pts': 88,
  'max pts': 140,
  'diff pts': 52,
  'max 3pm': 18},
 {'team': 'Denver Nuggets',
  'std pts': 11.270425740474623,
  'min pts': 87,
  'max pts': 138,
  'diff pts': 51,
  'max 3pm': 20},
 {'team': 'Detroit Pistons',
  'std pts': 11.187153113059477,
  'min pts': 83,
  'max pts': 133,
  'diff pts': 50,
  'max 3pm': 20},
 {'team': 'Golden State Warriors',
  'std pts': 14.452814993516052,
  'min pts': 86,
  'max pts': 149,
  'diff pts': 63,
  'max 3pm': 24},
 {'team': 'Houston Rockets',
  'std pts': 14.877779770999727,
  'min pts': 80,
  'max pts': 142,
  'diff pts': 62,
  'max 3pm': 26},
 {'team': 'Indiana Pacers',
  'std pts': 11.366150538212247,
  'min pts': 89,
  'max pts': 136,
  'diff pts': 47,
  'max 3pm': 19},
 {'team': 'LA Clippers',
  'std pts': 11.816441208260752,
  'min pts': 86,
  'max pts': 136,
  'diff pts': 50,
  'max 3pm': 18},
 {'team': 'Los Angeles Lakers',
  'std pts': 11.937994943475234,
  'min pts': 85,
  'max pts': 142,
  'diff pts': 57,
  'max 3pm': 19},
 {'team': 'Memphis Grizzlies',
  'std pts': 10.166691505185753,
  'min pts': 83,
  'max pts': 131,
  'diff pts': 48,
  'max 3pm': 16},
 {'team': 'Miami Heat',
  'std pts': 10.69916335658635,
  'min pts': 82,
  'max pts': 121,
  'diff pts': 39,
  'max 3pm': 18},
 {'team': 'Milwaukee Bucks',
  'std pts': 11.953703427851371,
  'min pts': 87,
  'max pts': 144,
  'diff pts': 57,
  'max 3pm': 22},
 {'team': 'Minnesota Timberwolves',
  'std pts': 11.108124094546966,
  'min pts': 81,
  'max pts': 136,
  'diff pts': 55,
  'max 3pm': 20},
 {'team': 'New Orleans Pelicans',
  'std pts': 12.12589734588937,
  'min pts': 94,
  'max pts': 149,
  'diff pts': 55,
  'max 3pm': 19},
 {'team': 'New York Knicks',
  'std pts': 10.7564406736228,
  'min pts': 84,
  'max pts': 136,
  'diff pts': 52,
  'max 3pm': 20},
 {'team': 'Oklahoma City Thunder',
  'std pts': 11.917014704929404,
  'min pts': 92,
  'max pts': 147,
  'diff pts': 55,
  'max 3pm': 22},
 {'team': 'Orlando Magic',
  'std pts': 12.23576055985027,
  'min pts': 76,
  'max pts': 131,
  'diff pts': 55,
  'max 3pm': 20},
 {'team': 'Philadelphia 76ers',
  'std pts': 11.566053125663066,
  'min pts': 87,
  'max pts': 149,
  'diff pts': 62,
  'max 3pm': 21},
 {'team': 'Phoenix Suns',
  'std pts': 12.14605282907165,
  'min pts': 82,
  'max pts': 146,
  'diff pts': 64,
  'max 3pm': 19},
 {'team': 'Portland Trail Blazers',
  'std pts': 11.463927143185579,
  'min pts': 83,
  'max pts': 132,
  'diff pts': 49,
  'max 3pm': 19},
 {'team': 'Sacramento Kings',
  'std pts': 11.687575430707433,
  'min pts': 86,
  'max pts': 146,
  'diff pts': 60,
  'max 3pm': 20},
 {'team': 'San Antonio Spurs',
  'std pts': 13.906251773351379,
  'min pts': 86,
  'max pts': 154,
  'diff pts': 68,
  'max 3pm': 19},
 {'team': 'Toronto Raptors',
  'std pts': 11.535540163715213,
  'min pts': 86,
  'max pts': 140,
  'diff pts': 54,
  'max 3pm': 18},
 {'team': 'Utah Jazz',
  'std pts': 14.254267324810337,
  'min pts': 68,
  'max pts': 139,
  'diff pts': 71,
  'max 3pm': 20},
 {'team': 'Washington Wizards',
  'std pts': 12.344181215024992,
  'min pts': 89,
  'max pts': 149,
  'diff pts': 60,
  'max 3pm': 19}]

In [15]:
# sort list by highest std

std_sort = sorted(team_calc, key=itemgetter('std pts'))
#std_sort[0] # most consistent team
#std_sort[-1] # most variable team

In [16]:
print(std_sort[0]) # Make line Dallas blue
print(std_sort[-1]) # Make line Houston red

{'team': 'Dallas Mavericks', 'std pts': 9.973172914317884, 'min pts': 88, 'max pts': 140, 'diff pts': 52, 'max 3pm': 18}
{'team': 'Houston Rockets', 'std pts': 14.877779770999727, 'min pts': 80, 'max pts': 142, 'diff pts': 62, 'max 3pm': 26}

In [17]:
# find the lowest and highest scoring games

minpts_sort = sorted(team_calc, key=itemgetter('min pts'))
print(minpts_sort[0])

maxpts_sort = sorted(team_calc, key=itemgetter('max pts'), reverse=True)
print(maxpts_sort[0])

{'team': 'Utah Jazz', 'std pts': 14.254267324810337, 'min pts': 68, 'max pts': 139, 'diff pts': 71, 'max 3pm': 20}
{'team': 'San Antonio Spurs', 'std pts': 13.906251773351379, 'min pts': 86, 'max pts': 154, 'diff pts': 68, 'max 3pm': 19}

In [18]:
# Team with biggest difference in highest and lowest scoring game

diffpt_sort = sorted(team_calc, key=itemgetter('diff pts'), reverse=True)
print(diffpt_sort[0])

{'team': 'Utah Jazz', 'std pts': 14.254267324810337, 'min pts': 68, 'max pts': 139, 'diff pts': 71, 'max 3pm': 20}

This isn't that interesting. They did only score 68 points. Some teams can easily total 68 points in one half.

In [19]:
threept_sort = sorted(team_calc, key=itemgetter('max 3pm'), reverse=True)
print(threept_sort[0])

{'team': 'Houston Rockets', 'std pts': 14.877779770999727, 'min pts': 80, 'max pts': 142, 'diff pts': 62, 'max 3pm': 26}

In [20]:
threept_sort

[{'team': 'Houston Rockets',
  'std pts': 14.877779770999727,
  'min pts': 80,
  'max pts': 142,
  'diff pts': 62,
  'max 3pm': 26},
 {'team': 'Boston Celtics',
  'std pts': 10.85409235057068,
  'min pts': 86,
  'max pts': 135,
  'diff pts': 49,
  'max 3pm': 24},
 {'team': 'Golden State Warriors',
  'std pts': 14.452814993516052,
  'min pts': 86,
  'max pts': 149,
  'diff pts': 63,
  'max 3pm': 24},
 {'team': 'Atlanta Hawks',
  'std pts': 11.553968776345233,
  'min pts': 85,
  'max pts': 142,
  'diff pts': 57,
  'max 3pm': 22},
 {'team': 'Milwaukee Bucks',
  'std pts': 11.953703427851371,
  'min pts': 87,
  'max pts': 144,
  'diff pts': 57,
  'max 3pm': 22},
 {'team': 'Oklahoma City Thunder',
  'std pts': 11.917014704929404,
  'min pts': 92,
  'max pts': 147,
  'diff pts': 55,
  'max 3pm': 22},
 {'team': 'Philadelphia 76ers',
  'std pts': 11.566053125663066,
  'min pts': 87,
  'max pts': 149,
  'diff pts': 62,
  'max 3pm': 21},
 {'team': 'Brooklyn Nets',
  'std pts': 12.497487963075034,
  'min pts': 87,
  'max pts': 145,
  'diff pts': 58,
  'max 3pm': 20},
 {'team': 'Charlotte Hornets',
  'std pts': 11.83623743809055,
  'min pts': 84,
  'max pts': 135,
  'diff pts': 51,
  'max 3pm': 20},
 {'team': 'Denver Nuggets',
  'std pts': 11.270425740474623,
  'min pts': 87,
  'max pts': 138,
  'diff pts': 51,
  'max 3pm': 20},
 {'team': 'Detroit Pistons',
  'std pts': 11.187153113059477,
  'min pts': 83,
  'max pts': 133,
  'diff pts': 50,
  'max 3pm': 20},
 {'team': 'Minnesota Timberwolves',
  'std pts': 11.108124094546966,
  'min pts': 81,
  'max pts': 136,
  'diff pts': 55,
  'max 3pm': 20},
 {'team': 'New York Knicks',
  'std pts': 10.7564406736228,
  'min pts': 84,
  'max pts': 136,
  'diff pts': 52,
  'max 3pm': 20},
 {'team': 'Orlando Magic',
  'std pts': 12.23576055985027,
  'min pts': 76,
  'max pts': 131,
  'diff pts': 55,
  'max 3pm': 20},
 {'team': 'Sacramento Kings',
  'std pts': 11.687575430707433,
  'min pts': 86,
  'max pts': 146,
  'diff pts': 60,
  'max 3pm': 20},
 {'team': 'Utah Jazz',
  'std pts': 14.254267324810337,
  'min pts': 68,
  'max pts': 139,
  'diff pts': 71,
  'max 3pm': 20},
 {'team': 'Indiana Pacers',
  'std pts': 11.366150538212247,
  'min pts': 89,
  'max pts': 136,
  'diff pts': 47,
  'max 3pm': 19},
 {'team': 'Los Angeles Lakers',
  'std pts': 11.937994943475234,
  'min pts': 85,
  'max pts': 142,
  'diff pts': 57,
  'max 3pm': 19},
 {'team': 'New Orleans Pelicans',
  'std pts': 12.12589734588937,
  'min pts': 94,
  'max pts': 149,
  'diff pts': 55,
  'max 3pm': 19},
 {'team': 'Phoenix Suns',
  'std pts': 12.14605282907165,
  'min pts': 82,
  'max pts': 146,
  'diff pts': 64,
  'max 3pm': 19},
 {'team': 'Portland Trail Blazers',
  'std pts': 11.463927143185579,
  'min pts': 83,
  'max pts': 132,
  'diff pts': 49,
  'max 3pm': 19},
 {'team': 'San Antonio Spurs',
  'std pts': 13.906251773351379,
  'min pts': 86,
  'max pts': 154,
  'diff pts': 68,
  'max 3pm': 19},
 {'team': 'Washington Wizards',
  'std pts': 12.344181215024992,
  'min pts': 89,
  'max pts': 149,
  'diff pts': 60,
  'max 3pm': 19},
 {'team': 'Dallas Mavericks',
  'std pts': 9.973172914317884,
  'min pts': 88,
  'max pts': 140,
  'diff pts': 52,
  'max 3pm': 18},
 {'team': 'LA Clippers',
  'std pts': 11.816441208260752,
  'min pts': 86,
  'max pts': 136,
  'diff pts': 50,
  'max 3pm': 18},
 {'team': 'Miami Heat',
  'std pts': 10.69916335658635,
  'min pts': 82,
  'max pts': 121,
  'diff pts': 39,
  'max 3pm': 18},
 {'team': 'Toronto Raptors',
  'std pts': 11.535540163715213,
  'min pts': 86,
  'max pts': 140,
  'diff pts': 54,
  'max 3pm': 18},
 {'team': 'Chicago Bulls',
  'std pts': 10.777301040001687,
  'min pts': 77,
  'max pts': 124,
  'diff pts': 47,
  'max 3pm': 16},
 {'team': 'Memphis Grizzlies',
  'std pts': 10.166691505185753,
  'min pts': 83,
  'max pts': 131,
  'diff pts': 48,
  'max 3pm': 16},
 {'team': 'Cleveland Cavaliers',
  'std pts': 11.013745303232335,
  'min pts': 83,
  'max pts': 136,
  'diff pts': 53,
  'max 3pm': 15}]

In [21]:
# Find game where highest 3 pointers made was
df[df.FG3M == 26]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
914,22018,1610612745,HOU,Houston Rockets,21800461,2018-12-19,HOU vs. WAS,W,240,47,...,33,41,30,8,2,17,21,136,18,1

In [22]:
# Find out rows with the min and max points scored in a game

df[df['PTS'] == 68]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
413,22018,1610612762,UTA,Utah Jazz,21800210,2018-11-14,UTA @ DAL,L,240,25,...,25,33,16,11,3,22,21,68,-50,1

In [23]:
df[df['PTS'] == 154]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
1233,22018,1610612759,SAS,San Antonio Spurs,21800619,2019-01-10,SAS vs. OKC,W,290,56,...,38,43,38,8,10,17,25,154,7,1

In [27]:
# assign variables for notable points

highest_scoring_game = df[df['PTS'] == 154]
lowest_scoring_game = df[df['PTS'] == 68]
most_3pt_made_game = df[df.FG3M == 26]

# Plots

## Line plot notes

* x-axis: date
* y-axis: points
* highlight the two teams with highest and lowest std values
* also take a look at which team has the highest difference of min vs max

### Points to label:

* highest scoring point - bigger point
* lowest scoring point - bigger point
* Dallas Mavericks - highest std in Dallas blue, bigger line
* Houston Rockets - lowest std in Houston red, bigger line

In [24]:
df['GAME_DATE'].head(n=5)

0    2018-10-16
1    2018-10-16
2    2018-10-16
3    2018-10-16
4    2018-10-17
Name: GAME_DATE, dtype: object

In [34]:
# Plotly code for February submission

"""
1. Plot all teams besides the Mavs and Rockets in light grey
2. Create a separate plot for the Mavs and Rockets outside of the loop
3. Annotations: label min and max points - make dots for each
"""

# assign variables for notable points
highest_scoring_game = df[df['PTS'] == 154]
lowest_scoring_game = df[df['PTS'] == 68]
most_3pt_made_game = df[df.FG3M == 26]

# Data for charts
traces = []

# colors data: https://teamcolorcodes.com/houston-rockets-color-codes/
mavs_blue = 'rgb((0,83,188)'
rockets_red = 'rgb((206,17,65)'

# Loop through teams to append lines
for team in teams:
	data = df[df.TEAM_NAME == team]
	if (team != 'Houston Rockets') and (team != 'Dallas Mavericks'): # draw every line besides the two teams
		traces.append(go.Scatter(
			x=data.GAME_DATE, # x-axis is the date
			y=data.PTS, # y-axis is point values
			mode='lines', # line plot
			name=team,
			line = dict(width=3, color='rgb(130, 130, 130') # thin, light grey lines per line
			))
	else:
		continue

for team in teams: # loop through again to get rockets and mavs
	data = df[df.TEAM_NAME == team]
	if team == 'Houston Rockets': 
		traces.append(go.Scatter(
			x=data.GAME_DATE,
			y=data.PTS,
			mode='lines',
			name=team,
			line=dict(width=6, color=rockets_red) # wider than normal and red
			))
	elif team == 'Dallas Mavericks':
		traces.append(go.Scatter(
			x=data.GAME_DATE,
			y=data.PTS,
			mode='lines',
			name=team,
			line=dict(width=6, color=mavs_blue) # same as rockets, but blue
			))

# Max points dot
traces.append(go.Scatter(
	x=highest_scoring_game.GAME_DATE,
	y=highest_scoring_game.PTS,
	mode='markers',
	marker=dict(size=10, color='rgb(130, 130, 130)')
	))

# Min points dot
traces.append(go.Scatter(
	x=lowest_scoring_game.GAME_DATE,
	y=lowest_scoring_game.PTS,
	mode='markers',
	marker=dict(size=10, color='rgb(130, 130, 130)')
	))

# Most 3-pointers made by a team game
traces.append(go.Scatter(
	x=most_3pt_made_game.GAME_DATE,
	y=most_3pt_made_game.PTS,
	mode='markers',
	marker=dict(size=10, color=rockets_red)
	))

# layout details

# Annotations + Title
annotations = list()

# Annotate max points point

# Annotate min points point

# Annotate game with most 3s made

# Finally, show plot
fig = go.Figure(data=traces)
py.iplot(fig, filename='pts_scored_over_time')

/anaconda3/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead